
html, body {
  margin:0;
	padding:0;
}


.sidenav {
  position: sticky;
  position: -webkit-sticky;
  top:0;
}

.introvid {
  /* width: auto; */
  opacity:75%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  padding: 0px;
}


.title_container {
  background-color: #000;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video_wrapper {
  background-color: #000;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video_title_container {
  position:absolute;
}

.video_title {
  font-family: 'Vidaloka', serif;
  font-size: 200px;
  color:#FFF;
}


.image_overlay {
  opacity:40%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  padding: 0px;
}

.title {
  font-family: 'Vidaloka', serif;
  font-size: 80px;
}

div.title {
  height: 160px;
  display: flex;
  align-items: center }
div.title p {
  font-family: 'Vidaloka', serif;
  font-size: 120px;
  margin: 0 }


.wrapper {
    display: flex;
    width: 100%;
}







h1 {
  font-family: 'Vidaloka', serif;
  font-size: 100px;
}

h2 {
  /* font-family: 'Quicksand', sans-serif; */
}


.social {
  height: 40px;
  padding: 5px;
  opacity: 0.5;
  display: inline-block;
}
.social:hover {
  opacity: 1.0;
}

.logo {
  height: 75px;
  padding: 5px;
  opacity: 0.5;
  display: inline-block;
}
.logo:hover {
  opacity: 1.0;
}
