

/* Container holding the image and the text */
.banner_container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.banner_text {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0, -50%);
  color: #FFF;
  font-family: 'Vidaloka', serif;
  font-size: 100px;
}


.title {
  font-family: 'Vidaloka', serif;
  font-size: 80px;
}

div.title {
  height: 160px;
  display: flex;
  align-items: center }
div.title p {
  font-family: 'Vidaloka', serif;
  font-size: 120px;
  margin: 0 }

.fixed-top-2 {
    margin-top: 56px;
    z-index: 0;
}


.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 200px;
    position: fixed;
    top: 112px;
    left: 0;
    height: 100vh;
    padding: 10px;
}


.red {
    color:red;
}





h1 {
  font-family: 'Vidaloka', serif;
  font-size: 100px;
}

h2 {
  /* font-family: 'Quicksand', sans-serif; */
}


.social {
  height: 40px;
  padding: 5px;
  opacity: 0.5;
  display: inline-block;
}
.social:hover {
  opacity: 1.0;
}

.logo {
  height: 75px;
  padding: 5px;
  opacity: 0.5;
  display: inline-block;
}
.logo:hover {
  opacity: 1.0;
}
